.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-top: 70px;
  gap: 70px;
}

.game .up-section {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 50%;
}

.game .up-section .left-score,
.game .up-section .right-score {
  font-family: 'IBM Plex Sans', sans-serif;
  color: var(--wt);
  font-size: 3rem;
  font-weight: bold;
  /* margin: 0 30px; */
}

.game .up-section .vs-section {
  display: flex;
  flex-direction: column;
  margin: auto;  
  gap: 20px;
}

.game .up-section .vs-section .vs-time {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #e76f51;
  font-size: 1.3rem;
}

.game .down-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 3%;
  padding: 0 20px;
}

.game .down-section .left-user,
.game .down-section .right-user {
  display: flex;
  order: 1;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.left-user .left-user-img,
.right-user .right-user-img {
  /* width: 100px; */
  /* width: 25%; */
  /* height: 100%; */
  border-radius: 50%;
}

.left-user .left-user-name,
.right-user .right-user-name {
  text-align: center;
  font-family: 'IBM Plex Sans', Courier, monospace;
  font-size: 1.7rem;
  padding-top: 10px;
  width: fit-content;
  margin-left: auto;
}
.right-user .right-user-name {
  margin-right: auto;
}

.game .down-section .self-game {
  width: fit-content;
  order: 2;
}

.game .down-section .play-ground {
  background-color: #264653;
  /* flex: 1; */
  /* position: relative; */
  border-radius: 5px;
  border: 1px solid white;
  width: 100%;
  height: 100%;
}

@media (max-width: 1188px) {
  .game .up-section .left-score,
  .game .up-section .right-score {
    font-size: 2rem;
  }

  /*
	make the game display orizontally in the mobile view
	*/
  .game .up-section .vs-section .vs-time {
    font-size: 1rem;
  }
  .game .down-section .left-user,
  .game .down-section .right-user {
    order: 1;
    width: 10%;
  }
  .game .down-section .left-user img,
  .game .down-section .right-user img {
    width: fit-content;
  }

  .game .down-section .self-game {
    width: 100%;
  }

  .game .down-section .play-ground {
    width: 100%;
  }

  .left-user .left-user-name,
  .right-user .right-user-name {
    font-size: 1.5rem;
  }
}

@media (max-width: 668px) {
  .game {
    justify-content: space-around;
    padding-top: 10px;
    gap: 10px;
  }
  .game .up-section .left-score,
  .game .up-section .right-score {
    font-size: 1rem;
  }

  .game .down-section .left-user,
  .game .down-section .right-user {
  
    flex-basis: 48%;
    margin-bottom: 20px;
    margin-top: 0px;
    gap: 10px;
  }
  .game .down-section .self-game {
    order: 2;
    flex-basis: 100%;
  }

  /*
	make the game display orizontally in the mobile view
	*/
  .game .up-section .vs-section .vs-time {
    font-size: 1rem;
  }

  .game .up-section .vs-section img {
    width: 40px;
    height: 40px;
  }

  .game .down-section .left-user {
    margin-bottom: 20px;
  }

  .game .down-section .self-game {
    width: 100%;
  }

  .game .down-section .left-user img,
  .game .down-section .right-user img {
    width: 40%;
    height: auto;
  }

  .game .down-section .play-ground {
    width: 90%;
    margin: auto;
  }

  .game .up-section .vs-section {
    gap: 2px;
  }

  .game .up-section .vs-section .vs-time {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #e76f51;
    font-size: 0.7rem;
  }

  .left-user .left-user-name,
  .right-user .right-user-name {
    font-size: 0.7rem;
  }
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: white transparent;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  width: 80%;
}
