@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');


.main-page .transparent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 100px;
    background-color: rgba(255, 255, 255, 0.096);
    backdrop-filter: blur(100px);
    margin: auto;
    margin-top: 70px;
    border-radius: 25px;
    padding: 100px ;
    width: 80%;
    max-width: 1530px;
}


.modes-container .left-mode,
.modes-container .middle-mode,
.modes-container .right-mode {
  cursor: pointer;
}


.main-page .transparent .title {
  font-family: var(--principaleFont);
  font-size: 64px;
  font-weight: 700;
   width: fit-content;
} 

.main-page .transparent .modes-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.modes-container p {
  font-family: 'fredoka';
  font-weight: 600;
  font-size: 40px;
  margin-top: -80px;
  margin-left: 40px;
  cursor: pointer;
}

.modes-container img {
  pointer-events: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.big-button {
  font-family: 'fredoka';
  font-weight: 600;
  font-size: 30px;
  color: var(--wt);
  background-color: var(--principaleColor);
  width: 282px;
  height: 92px;
  border-radius: 14px;
  border: 1px solid white;
  cursor: pointer;
}

@media (max-width: 1550px) {
  .main-page .transparent {
    padding: 50px;
    gap:70px;
  }
  .main-page .transparent .title {
    font-size: 44px;
  }
  .modes-container p {
    font-size: 22px;
    margin-top: -60px;
    margin-left: 0px;
    text-align: center;
  }
  .big-button {
    font-size: 25px;
    width: 200px;
    height: 70px;
  }
  
}

@media (max-width: 900px) {
    .main-page .transparent {
        padding: 40px;
        padding-bottom: 100px;
        gap: 50px;
    }

    .main-page .transparent .title {
        display: flex;
        margin: auto;
        text-align: center;
        font-family: var(--principaleFont);
        font-size: 25px;
        font-weight: 400;
        /* padding-top: 120px; */
        width: fit-content;
    }

    .main-page .transparent .modes-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        width: 100%;
    }
    .modes-container .left-mode, .modes-container .middle-mode, .modes-container .right-mode {
        max-width: 200px;
        max-height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    
    .modes-container p {
        font-family: 'fredoka';
        font-weight: 600;
        font-size: 20px;
        margin-top: -60px;
        margin-left: 0px;
        cursor: pointer;
    }
    .modes-container .images {
      /* pointer-events: none; */
      cursor: pointer;
      width: 100%;
      height: 100%;
      transition: background-color 0.3s ease;
  }
}
