@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

	body {
		overflow: visible !important;
		padding: 0;
		margin: 0;
	}

	h1 {
		@apply text-4xl font-bold mb-4;
	}

	h2 {
		@apply text-3xl font-semibold mb-3;
	}

	h3 {
		@apply text-2xl font-medium mb-2;
	}

	h4 {
		@apply text-xl font-medium mb-2;
	}

	h5 {
		@apply text-lg font-medium mb-2;
	}

	h6 {
		@apply text-base font-medium mb-2;
	}
}

@layer utilities {
	.edit-input-field{
		@apply outline-none border border-gray-500 bg-transparent w-full px-4 py-3 rounded-md
	}

	.black-button {
		@apply bg-black px-4 py-2 rounded cursor-pointer hover:bg-white hover:text-black transition duration-300
	}
	.primary-button {
		@apply bg-btnColor border border-white  text-white font-semibold px-6 py-2 rounded-md outline-none
	}

	.blur-background {
		background: rgba( 255, 255, 255, 0 );
		box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
		backdrop-filter: blur( 20px );
		-webkit-backdrop-filter: blur( 20px );
		border-radius: 10px;
		border: 1px solid rgba( 255, 255, 255, 0.18 );
	}

	@keyframes enter {
		from {
			opacity: 0;
			transform: translateY(-10px);
		}

		to {
			opacity: 1;
			transform: translateY(0);
		}
		}

		@keyframes leave {
		from {
			opacity: 1;
			transform: translateY(0);
		}

		to {
			opacity: 0;
			transform: translateY(-10px);
		}
	}

	.animate-enter {
		animation: enter 0.3s forwards;
	}

	.animate-leave {
		animation: leave 0.3s forwards;
	}

}