/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img{
	/* pointer-events: none; */
}

html{
	/* height: 100vh; */
	/* background: radial-gradient(#1A2980, black); */
	/* background-image: linear-gradient(to right, red , yellow); */
	margin: 0;
	/* width: 1400px; */
	margin-left: auto;
	margin-right: auto;
}

body {
	padding: 0;
	background: black;
	background-image: url("/image.jpeg");
	/* background: rgb(33,70,188);
	background: linear-gradient(189deg, rgba(33,70,188,1) 0%, rgba(64,92,192,1) 49%, rgba(0,0,0,1) 100%); */
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: white;
	/* width: 100%; */
	/* height: 100%; */
	/* background-color: rgb(3, 17, 73); */
	width: 1400px;
	margin-right: auto;
	margin-left: auto;
}

.navbar {
	display: flex;
	align-items: center;
	margin-top: 50px;
	margin-left: 50px;
	height: 70px;
	background-color: transparent;
	color: white;
	font-family: 'Courier New', Courier, monospace;
}

.logo {
	font-size: 1.5rem;
	margin-left: 40px;
	width: 100px;
}

.logo img {
	width: 120px;
	height: 120px;
}

.navbar-links {
	margin-left: 100px;
}

.sign-in {
	display: flex;
	align-items: center;
	column-gap: 10px;
	margin-left: auto;
	margin-right: 50px;
}

.sign-in .union {
	margin-right: 5px;
}

.sign-in .logout-text {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2rem;
}

.navbar-links a {
	text-decoration: none;
	color: white;
	font-family: 'manrope', sans-serif;
	font-size: 1.2rem;
	margin: 0 20px;
}

.sign-in .login {
	background-color: white;
	font-family: 'Montserrat', sans-serif;
	color: rgb(0, 0, 0);
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	margin-left: 5px;
}

.sign-in .sign-up {
	background-color: transparent;
	font-family: 'Montserrat', sans-serif;
	color: white;
	border: 1px solid white;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	margin-left: 5px;
}

.game {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 80vh;
	width: 100%;
}

.game .up-section {
	width: 100%;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 40px;
	margin-bottom: 20px;
}

.game .up-section .left-score,
.game .up-section .right-score {
	font-family: 'IBM Plex Sans', sans-serif;
	color: white;
	font-size: 3rem;
	font-weight: bold;
	margin: 0 30px;
}

.game .up-section .vs-section {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

.game .up-section .vs-section .vs-time {
	font-family: 'IBM Plex Sans', sans-serif;
	color: #E76F51;
	font-size: 1.3rem;
	margin-left: 10px;
}

.game .down-section {
	width: 80%;
	height: 60%;
	display: flex;
	/* align-items: center; */
	justify-content: center;
	column-gap: 10px;
}

.game .down-section .left-user {
	width: fit-content;
	margin: auto 5px;
}

.left-user .left-user-img, .right-user .right-user-img {
	width: 100px;
	height: 100px;
	border-radius: 50px;
}

.left-user .left-user-name,
.right-user .right-user-name {
	text-align: center;
	font-family: 'IBM Plex Sans', Courier, monospace;
	font-size: 19px;
	padding-top: 10px;
}

.game .down-section .self-game {

	/* padding-right: auto;
	padding-left: auto; */
}

.game .down-section .right-user {
	margin: auto 5px;
	width: fit-content;

}

.game .down-section .play-ground {
	background-color: #264653;
	/* position: relative; */
	border-radius: 5px;
	border: 1px solid white;
	/* width: 100%; */
	/* height: 100%; */
}

/* CSS for the profile page: */
