.main-container-forget {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}

.forget-main-login {
  display: flex;
  margin-right: 150px;
  flex-direction: column;
  width: 500px;
}

.forget-main-login .description {
  font-family: var(--principaleFont);
  font-size: 17px;
  margin-bottom: 30px;
  color: gray;
}

.forget-main-login p {
  font-family: var(--secondFont);
  font-size: 20px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.forget-main-login input {
  background-color: transparent;
  font-family: var(--principaleFont);
  font-size: 18px;
  margin-top: 12px;
  width: 100%;
  margin-bottom: 28px;
  padding: 12px 0 12px 15px;
  border: 1.45px solid white;
  border-radius: 8px;
}

.forget-main-login input:not(:placeholder-shown) {
  font-family: var(--principaleFont);
  color: var(--wt);
  background-color: transparent;
  font-family: var(--principaleFont);
  font-size: 18px;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 12px 0 12px 15px;
  border: 1.45px solid white;
  border-radius: 8px;
  outline: none;
}

.forget-main-login input:focus {
  outline: 1.2px solid white;
}

.forget-main-login button {
  font-family: var(--secondFont);
  font-size: 20px;
  font-weight: bold;
  background-color: var(--principaleColor);
  border-radius: 10px;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  color: var(--wt);
  margin-top: 20px;
  cursor: pointer;
  margin-bottom: 8px;
}
.forget-main-login .second-button {
  color: black;
  background-color: var(--wt);
}

@media (max-width: 767px) {
  .main-container-forget {
    width: 400px;
    flex-direction: column;
  }
}
