.player {
    width: fit-content;
}


.playerAvatar {
    margin: auto;
    border-radius: 50%;
    height: 90px;
    width: 90px;
}

.playerName {
    text-align: center;
    font-family: 'Cabin', sans-serif;
}


@media (max-width: 1024px) {

    .playerAvatar {
        height: 54px;
        width: 54px;
    }

    .playerName {
        font-size: small;
    }

}

@media (max-width: 768px) {

    .playerAvatar {
        height: 40px;
        width: 40px;
    }

    .playerName {
        font-size: x-small;
    }
}