@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.profile {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  gap: 50px;
  padding-top: 40px;
  max-width: 1530px;
}

.profile-section {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0 40px;
  gap: 40px;
  /* margin-right: 260px;
	width: 400px; */
}

.profile-pic-name {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.profile-name-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-name-btn .profile-name {
  font-family: var(--principaleFont);
  font-size: 2rem;
  color: var(--wt);
  max-width: 200px;
}

.profile-name-btn .edit-btn {
  background-color: #797979;
  font-family: var(--principaleFont);
  font-size: 1.2rem;
  color: var(--wt);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.profile-name-btn .edit-pen {
  width: 60px;
  height: 20px;
}

.div-profile-pic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 24%;
  /* height: 100%; */
}
.profile-pic-name .profile-pic {
  width: 50%;
  border-radius: 50%;
}

.profile-level {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 10px;
}

.profile-level p {
  font-family: var(--principaleFont);
  font-size: 1.2rem;
  color: var(--wt);
}

.info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.info p {
  font-family: var(--principaleFont);
  font-size: 2rem;
  color: var(--wt);
  margin: 0;
}

.info .info-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}
.info-section img {
  width: 30px;
  /* height: 30px; */
}

.info .info-section .sps-info {
  display: flex;
  font-size: 21px;
  font-family: var(--principaleFont);
}

.badges-collected {
  font-family: var(--principaleFont);
  font-size: 22px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.badges-collected .badges {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.badges-collected .badges .ramen {
  border-radius: 40px;
}

.friends-section {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0 40px;
  gap: 30px;
}

.friends-section .title {
  font-family: var(--principaleFont);
  /* margin: auto; */
  font-size: 22px;
}

.friends-section .title p {
  text-align: center;
  font-weight: bold;
}

.friends-section .statistics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: auto; */
  gap: 20px;
}

.buttons {
  display: flex;
  justify-self: center;
  gap: 20px;
}

/* cart section */

.friends-section .cards {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.friends-section .cards .title-div {
  display: flex;
  justify-content: space-between;
  font-family: Lato;
  font-size: 15px;
  color: rgba(235, 235, 245, 0.5);
}

.friends-section .cards .title-div .see-all {
  color: rgba(235, 235, 245, 0.25);
}

/* cart component: */

@media (max-width: 1330px) {
  .profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    gap: 50px;
    width: 90%;
    /* margin-top: 130px; */
  }
  .profile-section {
    flex-wrap: wrap;
    padding: 5px;
    margin-right: 0px;
    width: 100%;
    /* margin-top: 50px; */
  }

  .profile-pic-name,
  .profile-level,
  .line-line {
    width: 70px;
  }
  .horizontal-line {
    display: none;
  }
  .friends-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 40px;
  }
  .badges-collected .badges {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .info-section img {
    width: 20px;
    /* height: 20px; */
  }
}
