<div>
    <canvas id="gameCanvas"></canvas>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const canvas = document.getElementById('gameCanvas');
            const ctx = canvas.getContext('2d');
        
            const chatSocket = new WebSocket(
                'ws://' + window.location.host + '/ws/pong/game/');
        
            let gameConfig = {};
            let leftPaddlePos = [0, 0];
            let rightPaddlePos = [0, 0];
            let ballPos = [0, 0];
            let leftPlayerScore = 0;
            let rightPlayerScore = 0;
        
            chatSocket.onmessage = function (e) {
                const data = JSON.parse(e.data);
                //console.log(data)
                if (data.config) {
                    gameConfig = data.config;
                    canvas.width = gameConfig.window_size[0];
                    canvas.height = gameConfig.window_size[1];
        
                    leftPaddlePos = gameConfig.left_paddle_pos;
                    rightPaddlePos = gameConfig.right_paddle_pos;
                    ballPos = gameConfig.ball_pos;
        
                    drawGame();
                }
        
                if (data.update) {
                    if (data.update.left_paddle_pos)
                    {
                        console.log('left_padd_update')
                        leftPaddlePos = data.update.left_paddle_pos;
                    }
                    if (data.update.right_paddle_pos)
                    {
                        console.log('right_padd_update')
                        rightPaddlePos = data.update.right_paddle_pos;
                    }
                    ballPos = data.update.ball_pos;
                    if (data.update.left_player_score)
                        leftPlayerScore = data.update.left_player_score;
                    if (data.update.right_player_score)
                        rightPlayerScore = data.update.right_player_score;
        
                    drawGame();
                }
            };
        
            function drawGame() {
                ctx.clearRect(0, 0, canvas.width, canvas.height);
        
                // Draw left paddle
                ctx.fillStyle = 'green';
                ctx.fillRect(
                    leftPaddlePos[0],
                    leftPaddlePos[1],
                    gameConfig.paddles_size[0],
                    gameConfig.paddles_size[1]
                );
        
                // Draw right paddle
                ctx.fillStyle = 'green';
                ctx.fillRect(
                    rightPaddlePos[0],
                    rightPaddlePos[1],
                    gameConfig.paddles_size[0],
                    gameConfig.paddles_size[1]
                );
        
                // Draw ball
                ctx.fillStyle = 'white';
                ctx.fillRect(
                    ballPos[0],
                    ballPos[1],
                    gameConfig.ball_size[0],
                    gameConfig.ball_size[1]
                );
        
                // Draw scores
                ctx.font = '24px Arial';
                ctx.fillStyle = 'white';
                ctx.fillText(leftPlayerScore, canvas.width / 4, 50);
                ctx.fillText(rightPlayerScore, (3 * canvas.width) / 4, 50);
            }
            //=============================
            document.addEventListener('keyup', function(event) {
                const key = event.key.trim(); // "a", "1", "Shift", etc.
                chatSocket.send(JSON.stringify({"onRelease": key}))
            });       
            document.addEventListener('keydown', function(event) {
                const key = event.key.trim(); // "a", "1", "Shift", etc.
                chatSocket.send(JSON.stringify({"onPress": key}))
            });       
            //=============================
        });
    </script>
</div>

