/* @media (max-width: 800px){
    .chat-mini-sidebare .container .sidebar {
        display: block;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: auto;
        width: 100%;
        position: fixed;
        bottom: 0;
        padding: 10px 0;
        box-shadow: 0 -15px 30px rgba(2, 0, 0, 1.1);
        background-color: rgba(163, 218, 232, 0.2);
    }

    .container .sidebar .logo {
        display: none;
    }
    li {
        margin: 0px 15px;
    }
    .icone_side{
        width: 20px;
    }
    .container .sidebar .icon_items ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        padding: 0;
    }

    .container .sidebar .icon_items ul li {
        padding: 20px;
    }

    .container .sidebar .Logout {
        margin-top: 0;
        position: static;
    }

    .container .sidebar .Logout ul {
        display: flex;
        justify-content: center;
    }

    .container .sidebar .Logout ul li {
        padding: 10px;
    }
}

@media (max-width: 600px){
    li {
        margin: 0px 5px;
    }
}

@media (max-width: 400px){
    li {
        margin: 0px;
    }
} */

/*  */


@media (max-width: 800px){
    .main-chat{
        /* display: flex; */
        /* flex-direction: column; */
        position: relative;
        border: solid red;
    }

    .main-chat .container{
        display: block;
        /* display: flex; */
        position: absolute;
        width: 100%;
        bottom: 0px;
    }
    .main-chat .container .sidebar {
        /* display: block; */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: auto;
        width: 100%;
        padding: 10px 0;
        box-shadow: 0 -15px 30px rgba(2, 0, 0, 1.1);
        background-color: rgba(163, 218, 232, 0.2);
    }

    .main-chat .container .sidebar .logo {
        display: none;
    }
    .main-chat  li {
    }
    .main-chat .icone_side{
        width: 20px;
    }
    .main-chat .container .sidebar .icon_items ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    .main-chat .container .sidebar .icon_items ul li {
    }

    .main-chat .container .sidebar .Logout {
        margin-top: 0;
    }

    .main-chat .container .sidebar .Logout ul {
        display: flex;
        justify-content: center;
    }

    .main-chat .container .sidebar .Logout ul li {
    }
    ul{
        display: flex;
    }

    .main-chat .icon_items ul li, 
    .main-chat .Logout ul li{
        padding: 10px 0px;
        margin: 0px 30px;
    }
    .main-chat .icone_side{
        width: 29px;
    }
    .main-chat .Logout img{
        width: 37px;
    }
}

@media (max-width: 600px){
    li {
    }
    .main-chat .icon_items ul li, 
    .main-chat .Logout ul li{
        margin: 0px 15px;
    }
    
}

@media (max-width: 400px){
    li {
    }
    .main-chat .icon_items ul li, 
    .main-chat .Logout ul li{
        margin: 0px 10px;
    }
    .main-chat .icone_side{
        width: 20px;
    }
    .main-chat .Logout img{
        width: 27px;
    }
}