.main-chat {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 50px 120px;
}

h2 {
  font-size: 30px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.main-chat .containerSidebar {
  display: none;
}

@media (max-width: 1400px) {
  .main-chat {
    padding: 30px 50px;;
  }
}

@media (max-width: 1300px) {
  .main-chat {
    align-items: initial;
    padding-top: 30px;
  }
}

@media (max-width: 1300px) {
  .main-chat {
    padding: 30px 20px;
  }
}

@media (max-width: 990px) {
  .list_chat.hidden {
    display: none;
  }
  .msg_chat.hidden {
    display: none;
  }
}

@media (max-width: 800px) {
  .main-chat .containerSidebar.hidden {
    display: none;
  }
  .main-chat .containerSidebar.visible {
    display: block;
  }
  .main-chat {
    padding: 0px;
  }
}

@media (min-width: 768px) {
  .hidden {
    display: block;
  }
}
