.main-chat{
    display: flex;
    flex-grow: 1;
}

h2{
    font-size: 30px;
}

/* .chat-mini-sidebare
{
    display: none;
} */

.main-chat .container .sidebar
{
    display: none;
}
/* .he{
    display: flex;
} */

/* 
@media (max-width: 800px){
    .main-chat .container .sidebar
    {
        display: block;
    }
    .main-chat{
        display: flex;
        flex-direction: column;
    }
} */