.main-chat{
    display: flex;
    /* flex-grow: 1; */
    /* border: solid rgb(0, 125, 10); */
    /* width: auto; */
    /* width: 100%; */
    width: 100%;
}

h2{
    font-size: 30px;
}

/* .chat-mini-sidebare
{
    display: none;
} */

/* .main-chat .container .sidebar
{
    display: none;
} */

/* add */

.main-chat .container
{
    display: none;
}
