.list_chat {
  /* flex-grow: 0.5; */

  background-color: rgba(163, 218, 232, 0.2);
  border-radius: 10px;
  /* margin: 55px 10px 55px 0px; */
  /* width: 500px; */
  /* flex-shrink: 0; Prevent shrinking below 400px */

  /* commant */
  /* overflow-y: auto;
    overflow-x: hidden; */
  /* commant */

  width: 25%;
  /* width: 100%; */
  margin-right: 5px;
  /* overflow: hidden; */

  /* change responsive  */
  /* height: 1290px; */
  
  /* change responsive  */
  height: 1120px;

}


h2 {
  margin: 42px 20px;
  margin-left: 65px;
}

.user-chat {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  gap: 20%;
  /* margin: 14px; */
  /* padding: 20px; */
  padding: 30px;
  padding-left: 20%;
  width: 100%;
}

.info-user {
  display: flex;
  align-items: center;
  gap: 10%;
}

.info-user p {
  font-weight: bold;
  font-size: 30px;
}

/* change responsive  */
/* .HiBell {
  font-size: 35px;
  color: white;
} */

.div-Search {
  /* border: solid red; */
  margin: 10px;
  display: flex;
  justify-content: center;
}

.div-Search input {
  width: 80%;
  padding: 15px;
  border-radius: 8px;
  justify-content: center;
  font-size: 20px;
  background-color: rgba(17, 25, 40, 0.5);
  border: none;
  outline: none;
  color: white;
  /* color: white; */
}

input[type='text']:focus {
  border-color: #555;
  outline: none;
}

input[type='text']::placeholder {
  color: #999;
  font-style: italic;
}

input[type='text']:focus::placeholder {
  color: #666;
}

.all-user {
  display: flex;
  justify-content: center;
  /* add */

  /* height: 700px; */
  /* add */

  /* for new test */
  height: 500px;
  /* for new test */

  /* overflow-y: auto;
    overflow-x: hidden;
    height: 600px; */
}

/* .all-user::-webkit-scrollbar {
    width: 3px;
}

.all-user::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.all-user::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(#642bff, #22fffb);
} */

/* Custom scrollbar styling */

/* commante */

/* .list_chat::-webkit-scrollbar {
    width: 3px;
} */

/* .list_chat::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.list_chat::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(#642bff, #22fffb);
} */

/* commante */

/* addd just to test */

/* 
.hidden {
    display: none;
} */

/* addd just to test */




@media (max-width: 1800px) {
  .info-user p {
    font-size: 27px;
  }
}
@media (max-width: 1600px) {
  .list_chat {
    width: 30%;
  }
  .info-user p {
    font-size: 25px;
  }
  .img-info-user {
    width: 55px;
    height: 55px;
  }
}


@media (max-width: 1300px) {
  .list_chat {
    /* background-color: rgba(233, 114, 131, 0.2); */
    /* width: 400px; */
    /*flex-shrink: 0; /* Prevent shrinking below 400px */
    /* width: 400px; */
    /* flex-shrink: 0; */
    /* width: 100%; */
    /* width: 35%; */

    /* add */

    /* change responsive  */
    /* height: 1280px; */

    /* change responsive  */
    height: 1120px;

  }
  /* .user-chat{
        gap: 10px;
    } */

  /* change responsive  */
  /* .HiBell {
    font-size: 25px;
  } */

  h2 {
    text-align: center;
    margin-left: 0;
  }
  .info-user p {
    font-size: 18px;
  }
  .user-chat {
    gap: 17%;
    /* margin: 10px; */
  }
}

@media (max-width: 990px) {
  .list_chat {
    flex-grow: 1;
    /* margin: 40px 40px 40px 0px; */
    /* margin: 20px 20px 20px 0px; */
    /* padding: 20px 20px 20px 0px; */
    margin-right: 0px;
    /* margin-right: 40px; */
    /* width: 500px; */
    /* width: 97%; */
    /* margin-right: 24px; */
    /* margin: 20px 20px 20px 0px; */
    /* height: 1175px; */
  }

    /* change responsive  */
  /* .HiBell {
    font-size: 35px;
  } */

  .user-chat{
    justify-content: space-around;
    padding-left: 0%;
  }
  .img-info-user {
    width: 65px;
    height: 65px;
  }
  .info-user p {
    font-size: 30px;
  }
}
@media (max-width: 800px) {
  .list_chat {
    /* margin: 10px 10px 90px 10px; */
    /* margin: 0px 0px 0px 0px; */
    /* margin: 20px 20px 20px 20px; */
    /* margin: 20px; */
    /* width: auto; */
    /* width: 100%; */
    margin-right: 0px;
    margin: 20px;
  }
  .user-chat {
    gap: 10px;
    /* margin: 10px; */
    /* margin: 10px 0px; */
    /* margin: 10px 0px; */
    /* margin: 10px 10px 90px 10px; */
  }
}

@media (max-width: 600px) {
  .list_chat {
    margin: 5px;
    /*  test  */
    height: fit-content;
  }
}
@media (max-width: 400px) {
  /* .user-chat{
        gap: 10%;
        margin: 10px;
    } */
  /* .list_chat{
        margin: 5px;
    } */
  .info-user {
    gap: 5%;
  }
  .img-info-user {
    width: 50px;
    height: 50px;
  }
  .info-user p {
    /* font-weight: bold; */
    font-size: 15px;
  }

  /* change responsive  */
  /* .HiBell {
    font-size: 22px;
  } */
  .user-chat {
    gap: 15%;
    margin: 20px 0px;
    padding: 10px;
  }
  .div-Search input {
    padding: 5px;
  }
  input[type='text']::placeholder {
    font-size: 15px;
  }
  .list_chat::-webkit-scrollbar {
    width: 2px;
  }
  h2 {
    font-size: 20px;
  }
}

/* addd just to test */

/* 
@media (max-width: 990px) {
    .list_chat.hidden {
        display: none;
    }
} */

/* addd just to test */
