.msg_chat{
    display: block;
    border-radius: 10px;
    
    margin: 55px 55px 55px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 75%;
}


/* add test  */

.back-button {
    display: block;
    background-color: #f1f1f1;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.back-button:hover {
    background-color: #e1e1e1;
}

/* add test  */


.freind-profile{
    background-color: rgba(163, 218, 232, 0.2);
    border-radius: 10px;
    flex-grow: 2;
    flex-grow: 1;
}



.body-message-chat{
    background-color: rgba(163, 218, 232, 0.2);
    border-radius: 10px;
    /* flex-grow: 2; */
    flex-grow: 18;
    display: flex;
    flex-direction: column;
}


.LiaGamepadSolid{
    font-size: 45px;
}

.ImBlocked{
    font-size: 30px;
}

.freind-profile{
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: space-between;
}
.section-profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 26%;
    margin-left: 5%;
    /* margin: 0px 70px;*/
}
.TiArrowBack {
    font-size: 35px;
    display: none;
}

.section-profile p
{
    font-weight: bold;
    font-size: 25px;
}

.section_action{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 75px;
    /* margin: 0px 70px; */
    margin-right: 5%;
}
.center-chat{
    flex: 1;
}
.bottom-chat{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 60px;
    gap: 22px;
}

.div_message_input{
    width: 95%;
}

.emoji{
    position: relative;
}

.BsEmojiSmile{
    font-size: 20px;
}

.Picker{
    position: absolute;
    bottom: 50px;
    right: 12px;
    /* left: 0; */
}

.div_message_input .message{
    flex: 1;
    background-color: rgba(17, 25, 40, 0.5);
    border: none;
    outline: none;
    color: white;
    padding: 18px;
    border-radius: 10px;
    font-size: 16px;
    width: 100%;
}
.buttom-send{
    background-color: transparent;
    border: none;
    margin-top: auto;
}

.send-icon{
    /* background-color: white; */
    color: white;
    font-size: 20px;
}
.send-icon.send-icon::hove{
    color: rgb(12, 76, 92);
}

/* .img-section-profile{
    width: 45;
    height: 45;
} */

.user-not-select{
    background-color: rgba(163, 218, 232, 0.2);
    border-radius: 10px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/* .user-not-select h2{
    text-align: center;
} */



/* addd just to test */

/* .hidden {
    display: none;
} */

/* addd just to test */


@media (max-width: 1600px){
    .section-profile{
        gap: 35px;
    }
    .section_action{
        gap: 35px;
    }
    .img-section-profile{
        width: 55px;
        height: 55px;
    }
}

@media (max-width: 990px){
    
    .msg_chat{
        width: 100%;
        margin: 20px 20px 20px 0px;
    }
    .TiArrowBack {
        display: block;
    }


}
@media (max-width: 800px){
    .msg_chat{
        /* margin: 55px 10px 55px 10px; */
        margin: 20px;
    }
}

@media (max-width: 600px){
    .msg_chat{
        /* margin: 10px 10px 10px 10px; */
        margin: 5px;
        gap: 5px;
    }
    /* .freind-profile{
        height: 2%;
    } */
    .section-profile {
        gap: 20px;
        /* margin-left: 0%; */
    }
    .section_action {
        gap: 20px;
    }
    .img-section-profile{
        width: 45px;
        height: 45px;
    }
    .LiaGamepadSolid {
        font-size: 30px;
    }
    .ImBlocked {
        font-size: 20px;
    }
    .section-profile p {
        font-size: 15px;
    }
    .TiArrowBack {
        font-size: 25px;
    }
    .bottom-chat {
        margin: 20px 25px;
        gap: 15px;
    }
}

@media (max-width: 400px){
    .section-profile {
        gap: 7px;
    }
    .section_action {
        gap: 10px;
    }
    .section-profile p {
        font-size: 10px;
    }
    .img-section-profile{
        width: 30px;
        height: 30px;
        border: none;
        border: 1px solid rgb(241, 250, 238);
    }
    .LiaGamepadSolid {
        font-size: 20px;
    }
    .ImBlocked {
        font-size: 12px;
    }
    .TiArrowBack {
        font-size: 20px;
    }
    .bottom-chat{
        margin: 11px 10px;
        gap: 10px;
    }
    .div_message_input .message{
        padding: 10px;
    }
    .BsEmojiSmile {
        font-size: 15px;
    }
    .send-icon {
        font-size: 14px;
    }
}

/* @media (max-width: 990px){
    .msg_chat{
        display: none;
    }
} */

/* .hidden {
    display: none;
}

@media (min-width: 990px) {
    .hidden {
        display: block !important;
    }
} */

/* .hidden {
    display: block !important;
}
@media (max-width: 990px) {
    .hidden {
        display: none;
    }
} */


/* addd just to test */

/* .hidden {
    display: none;
} */

/* @media (max-width: 990px) {
    .msg_chat.hidden {
        display: block;
    }

    .msg_chat {
        display: none;
    }
} */

/* addd just to test */

