.msg_chat{
    flex-grow: 2;
    background-color: rgba(163, 218, 232, 0.2);

    border-radius: 10px;
    
    margin: 55px 55px 55px 10px;
}

@media (max-width: 990px){
    .msg_chat{
        display: none;
        /* background-color: rgba(233, 114, 131, 0.2); */
        /* flex-grow: 1; */
    }
}