/* .user-grid{
    display: flex;
    flex-direction: row;
} */

.UserListOnline{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.UserListAll{
    display: flex;
    flex-direction: column;
    width: 95%;
    /* height: 100%; */
}


@media (max-width: 990px){
    .UserListAll{
        width: 85%;
    }
}   