.UserCardAll {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 0px;
  width: 100%;
  cursor: pointer;
  padding: 10px 5px;
  border: 1px solid transparent;
  border-radius: 10px;
  position: relative;
  height: 80px;
  gap: 5px;
  transition: all 0.2s ease;
  background: rgba(255, 255, 255, 0.07);
  border-radius: 8px;
  padding: 10px;
}

.img-usercard{
  max-width: 80px;
  height: 45px !important;
}



.UserCardAll:hover {
  transform: translateY(-3px);
  background: rgba(255, 255, 255, 0.2);
}

/* Styling for clicked card */
.usercard.clicked {
  border: 1px solid #333;
  border-radius: 5px;
}

.usercard-card-wrapper{
  transition: all 0.2s ease;
}

.usercard-card-wrapper:hover {
  transform: translateY(-3px);
  cursor: pointer;
}

.usercard-card-wrapper.placeholder:hover {
  transform: translateY(-3px);
  cursor: default;
}

.UserCardOnline {
  position: relative;
}

.status {
  border: 2px solid #fff;
  width: 15px;
  height: 15px;
  position: absolute;
}

.UserCardOnline .status {
  top: 0px;
  right: 5px;
}

.UserCardAll .status {
  bottom: 18px;
  left: 40px;
}

.typing_indicator_card {
  font-style: italic;
  right: 20;
  color: #f7d3d3;
  font-weight:bold;
}

@media (max-width: 1600px) {
  .UserCardOnline .img-usercard {
    width: 55px;
    height: 55px;
  }
}

@media (max-width: 1200px) {
  .UserCardAll{
    margin: 5px 0px;
  }
}



@media (max-width: 990px) {

  .UserCardAll {
  margin: 5px 0px;   
  }
  .UserCardOnline .img-usercard {
    width: 65px;
    height: 65px;
  }
}
@media (max-width: 400px) {
  .UserCardAll {
    padding: 5px;
    gap: 5px;
  }

  .UserCardOnline .status {
    top: -5px;
    right: 1px;
  }

  .UserCardAll .status {
    bottom: 23px;
    left: 27px;
  }

  .UserCardOnline .img-usercard {
    width: 45px;
    height: 45px;
  }
  .UserCardAll .img-usercard {
    width: 35px;
    height: 35px;
  }
  p {
    font-size: 12px;
  }
}


