.UserCardAll{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    align-items: center;
    gap: 20%;    ;
    margin: 10px 30px 10px 30px;
    cursor: pointer;
    transition: border 0.3s, border-radius 0.3s;
    padding: 3px;
    border: 1px solid transparent;
    border-radius: 24px;
    background: #060B16;
}



.UserCardAll:hover {
    border: 1px solid #aaa; /* Border on hover */
}

/* Styling for clicked card */
.usercard.clicked {
    border: 1px solid #333; /* Solid border when clicked */
    border-radius: 5px; /* Reduced border radius when clicked */
}

@media (max-width: 1600px){
    .UserCardOnline .img-usercard{
        width: 55px;
        height: 55px;
    }
    /* .UserCardAll .img-usercard{
        width: 45px;
        height: 45px;
    } */
}

@media (max-width: 990px){
    /* .UserCardAll{
        gap: 40px;
    } */
    .UserCardOnline .img-usercard{
        width: 65px;
        height: 65px;
    }
    /* .UserCardAll .img-usercard{
        width: 45px;
        height: 45px;
    } */
}
@media (max-width: 400px){
    .UserCardAll{
        margin: 10px 15px;
        padding: 0px;
        gap: 15%;
    }
    
    .UserCardOnline .img-usercard{
        width: 45px;
        height: 45px;
    }
    .UserCardAll .img-usercard{
        width: 35px;
        height: 35px;
    }
    
}